
.fontello-cancel:before { content: '\e800'; } /* '' */
.fontello-safari:before { content: '\e804'; } /* '' */
.fontello-firefox:before { content: '\e805'; } /* '' */
.fontello-chrome:before { content: '\e802'; } /* '' */
.fontello-opera:before { content: '\e801'; } /* '' */
.fontello-ie:before { content: '\e803'; } /* '' */
.fontello-browser:before { content: '\e806'; } /* '' */