<div id="editor-preferences-dialog" class="modal fade"tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="editorPreferencesForm" role="form" ng-submit="editorPreferencesForm.$valid && submit()" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Editor Preferences</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" ng-class="{ 'has-error' : editorPreferencesForm.fontSize.$dirty && editorPreferencesForm.fontSize.$invalid}">
            <label for="editor-font-size">Font size</label>
            <div class="input-group">
              <input id="editor-font-size" name="fontSize" ng-model="model.fontSize" type="number" class="form-control" placeholder="Enter font size" min="8" max="48" required>
              <span class="input-group-addon">px</span>
            </div>
            <span class="help-block" ng-show="editorPreferencesForm.fontSize.$dirty && editorPreferencesForm.fontSize.$error.required">Required field.</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : editorPreferencesForm.theme.$dirty && editorPreferencesForm.theme.$invalid}">
            <label for="editor-theme">Theme</label>
            <select id="editor-theme" name="theme" ng-model="model.theme" class="form-control" required>
              <optgroup label="Bright">
                <option value="ace/theme/chrome">Chrome</option>
                <option value="ace/theme/clouds">Clouds</option>
                <option value="ace/theme/crimson_editor">Crimson Editor</option>
                <option value="ace/theme/dawn">Dawn</option>
                <option value="ace/theme/dreamweaver">Dreamweaver</option>
                <option value="ace/theme/eclipse">Eclipse</option>
                <option value="ace/theme/github">GitHub</option>
                <option value="ace/theme/solarized_light">Solarized Light</option>
                <option value="ace/theme/textmate" selected="selected">TextMate</option>
                <option value="ace/theme/tomorrow">Tomorrow</option>
                <option value="ace/theme/xcode">XCode</option>
              </optgroup>
              <optgroup label="Dark">
                <option value="ace/theme/ambiance">Ambiance</option>
                <option value="ace/theme/chaos">Chaos</option>
                <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                <option value="ace/theme/cobalt">Cobalt</option>
                <option value="ace/theme/idle_fingers">idleFingers</option>
                <option value="ace/theme/kr_theme">krTheme</option>
                <option value="ace/theme/merbivore">Merbivore</option>
                <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                <option value="ace/theme/mono_industrial">Mono Industrial</option>
                <option value="ace/theme/monokai">Monokai</option>
                <option value="ace/theme/pastel_on_dark">Pastel on dark</option>
                <option value="ace/theme/solarized_dark">Solarized Dark</option>
                <option value="ace/theme/terminal">Terminal</option>
                <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                <option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option>
                <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option>
                <option value="ace/theme/twilight">Twilight</option>    
                <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
              </optgroup>
            </select>
            <span class="help-block" ng-show="editorPreferencesForm.theme.$dirty && editorPreferencesForm.theme.$error.required">Required field.</span>
          </div>
          <div class="form-group form-inline" ng-class="{ 'has-error' : editorPreferencesForm.tabSize.$dirty && editorPreferencesForm.tabSize.$invalid}">
            <label for="editor-tab-size">Tab size</label>
            <div class="input-group">
              <input id="editor-tab-size" name="tabSize" ng-model="model.tabSize" type="number" class="form-control" placeholder="Enter tab size" min="1" max="8" required>
              <span class="input-group-addon">
                <input id="editor-soft-tabs" name="softTabs" ng-model="model.softTabs" type="checkbox" value="true"> Soft tabs
              </span>
            </div>
            <span class="help-block" ng-show="editorPreferencesForm.tabSize.$dirty && editorPreferencesForm.tabSize.$error.required">Required field.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
          <button type="submit" class="btn btn-primary" ng-disabled="editorPreferencesForm.$invalid">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
