#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.vilt.minium.script.Console" level="DEBUG" />
    <logger name="com.vilt.minium" level="INFO" />
    <logger name="minium.pupino" level="INFO" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>